.combos {
    margin: 2rem 0 5rem 5rem;
}

.card {
    margin: 20px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-combos {
    margin-left: 20rem;
}

.cards-combos {
    width: 30%;
    background-color: var(--cards-background);
    border: 2px solid rgb(226, 86, 86);
}

.link-saiba--mais {
    color: rgb(222, 14, 14);
}

.link-saiba--mais:hover {
    color: rgb(195, 32, 32);
    text-decoration: underline;
}


